<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ProjectGuid>1a7703fd-d184-43e2-9e75-8a25b972ca96</ProjectGuid>
    <PublishUrl>..\publish\Release\netcoreapp3.1\win-64\</PublishUrl>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>false</SelfContained>
    <PublishReadyToRun>True</PublishReadyToRun>
  </PropertyGroup>
</Project>