@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Wants to kill an hour of your precious time ?</h1>
    <p class="lead">We offers hours of fun based on vintage games...and for free. Pick your game, choose between different mode and test your luck.</p>
    <p><a class="btn btn-sm btn-link"  asp-controller="Home" asp-action="Rules">Learn how to play</a> <a class="btn btn-sm btn-success"  asp-controller="Home" asp-action="Games">Start playing</a></p>
</div>